<a href="https://colab.research.google.com/github/eumarcosdeoliveira/Os-Amostradinhos/blob/main/Emilly_Vitoria_Ribeiro_dos_Santos_01549416_Introdu%C3%A7%C3%A3o_ao_Spark_com_PySpark_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Introdução ao Apache Spark

Apache Spark é um framework de processamento de dados de código aberto projetado para ser rápido, fácil de usar e geral. Ele permite o processamento distribuído de grandes volumes de dados em clusters, suportando tarefas de processamento em lote e em tempo real. Spark é amplamente utilizado para análise de dados, aprendizado de máquina, processamento de streaming e muito mais.

#### História e Marcos do Apache Spark
*  2009: Desenvolvido originalmente na UC Berkeley’s AMPLab.
*  2010: Spark foi open-sourced.
*  2014: Tornou-se um projeto de alto nível da Apache Software Foundation.
*  2016: Spark 2.0 lançado, introduzindo DataFrames e Spark SQL.
*  2020: Spark 3.0 lançado, trazendo melhorias significativas em desempenho e novas APIs.
*  2024: Spark continua evoluindo, com foco em otimizações de desempenho e integração com tecnologias emergentes.

#Fundamentos do Apache Spark
#### RDDs (Resilient Distributed Datasets)

RDDs são a abstração fundamental no Spark, representando uma coleção distribuída de elementos que podem ser processados em paralelo. Eles são imutáveis e tolerantes a falhas.

##### Características:

* Imutabilidade: Uma vez criado, um RDD não pode ser alterado.
* Tolerância a falhas: Spark reconstrói automaticamente partes perdidas dos RDDs.
* Transformações e Ações: Operações que transformam os dados ou coletam resultados.

#### RDDs (Resilient Distributed Datasets)

#### **DataFrames**

DataFrames são uma abstração mais estruturada sobre RDDs, semelhantes a tabelas em bancos de dados relacionais. Eles permitem operações otimizadas e integração com Spark SQL.

**Vantagens:**

* Performance: Otimizações como o Catalyst Optimizer melhoram o desempenho.
* Facilidade de Uso: APIs mais amigáveis para manipulação de dados estruturados.
* Integração: Compatível com diversas fontes de dados e ferramentas de BI.


** Datasets Utilizados **

https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction

In [ ]:
# Instalar PySpark via pip
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("satvshr/top-4-used-car-sales-datasets-combined")

print("Path to dataset files:", path)

path_lol = kagglehub.dataset_download("octopusteam/imdb-top-rated-titles-movies-and-tv-series")

print("Path to dataset files:", path_lol)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Downloading from https://www.kaggle.com/api/v1/datasets/download/satvshr/top-4-used-car-sales-datasets-combined?dataset_version_number=2...

100%|██████████| 446k/446k [00:00<00:00, 30.1MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.3)
Downloading from https://www.kaggle.com/api/v1/datasets/download/octopusteam/imdb-top-rated-titles-movies-and-tv-series?dataset_version_number=13...

100%|██████████| 140k/140k [00:00<00:00, 25.0MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/octopusteam/imdb-top-rated-titles-movies-and-tv-series/versions/13

In [ ]:
# Iniciar uma Sessão Spark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ExemploPySpark") \
    .getOrCreate()

**Comparando métodos do pandas x métodos do PySpark**

Leitura de Dados:

In [ ]:
import pandas as pd
df_pandas = pd.read_csv("/root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2/output.csv")

In [ ]:
df_pandas.head(4)

,brand,model,transmission,age,fuel,engine,km,owner,price,location,mileage,power,seats,type
0,mahindra,thar,manual,4.0,diesel,2184.0,11003.0,1.0,1231000.0,NaN,NaN,NaN,NaN,NaN
1,hyundai,verna,manual,6.0,petrol,1591.0,66936.0,1.0,786000.0,NaN,NaN,NaN,NaN,NaN
2,tata,harrier,manual,2.0,diesel,1956.0,27990.0,1.0,1489000.0,NaN,NaN,NaN,NaN,NaN
3,honda,city,automatic,1.0,petrol,1498.0,5061.0,1.0,1227000.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ExemploLeitura").getOrCreate()

# Leitura de um arquivo CSV
df_pyspark = spark.read.csv("/root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2/output.csv", header=True, inferSchema=True)

In [ ]:
#Nomes das colunas
for i in df_pandas.columns:
  print(i)

brand
model
transmission
age
fuel
engine
km
owner
price
location
mileage
power
seats
type

Seleção de Colunas:

In [ ]:
# Seleciona colunas específicas - Pandas
df_selecionado_pandas = df_pandas[['brand', 'model','age']]

In [ ]:
# Seleciona colunas específicas - PySpark
df_selecionado_spark = df_pyspark.select('brand', 'model','age')

Filtragem de Dados:

In [ ]:
df_filtrado_pandas = df_pandas[df_pandas['age'] > 2]

In [ ]:
df_filtrado_spark = df_pyspark.filter(df_pyspark.age > 2)

Agregações:

In [ ]:
print(df_pandas.columns)

Index(['brand', 'model', 'transmission', 'age', 'fuel', 'engine', 'km',
       'owner', 'price', 'location', 'mileage', 'power', 'seats', 'type'],
      dtype='object')

In [ ]:
df_agregado_pandas = df_pandas.groupby('brand')['age'].mean().reset_index()

In [ ]:
from pyspark.sql.functions import avg

# Calcula a média de 'age' agrupada por 'brand'
df_agregado_spark = df_pyspark.groupBy("brand").agg(avg("age").alias("media_age"))

In [ ]:
df_selecionado_spark.show(5)
df_filtrado_spark.show(5)
df_agregado_spark.show(5)

+--------+--------+---+
|   brand|   model|age|
+--------+--------+---+
|mahindra|    thar|4.0|
| hyundai|   verna|6.0|
|    tata| harrier|2.0|
|   honda|    city|1.0|
|    ford|ecosport|3.0|
+--------+--------+---+
only showing top 5 rows

+--------+--------+------------+---+------+------+-------+-----+---------+--------+-------+-----+-----+----+
|   brand|   model|transmission|age|  fuel|engine|     km|owner|    price|location|mileage|power|seats|type|
+--------+--------+------------+---+------+------+-------+-----+---------+--------+-------+-----+-----+----+
|mahindra|    thar|      manual|4.0|diesel|2184.0|11003.0|  1.0|1231000.0|    NULL|   NULL| NULL| NULL|NULL|
| hyundai|   verna|      manual|6.0|petrol|1591.0|66936.0|  1.0| 786000.0|    NULL|   NULL| NULL| NULL|NULL|
|    ford|ecosport|      manual|3.0|diesel|1498.0|23480.0|  1.0| 887000.0|    NULL|   NULL| NULL| NULL|NULL|
|   honda|    wr-v|      manual|3.0|petrol|1199.0|44787.0|  1.0| 796000.0|    NULL|   NULL| NULL| NULL|NULL|
|    tata|   nexon|   automatic|4.0|diesel|  NULL|59866.0|  1.0| 728000.0|    NULL|   NULL| NULL| NULL|NULL|
+--------+--------+------------+---+------+------+-------+-----+---------+--------+-------+-----+-----+----+
only showing top 5 rows

+----------+-----------------+
|     brand|        media_age|
+----------+-----------------+
|    jaguar|7.652631578947369|
|land rover|6.081632653061225|
|  mahindra|6.606451612903226|
|      tata|5.133499170812604|
|mitsubishi|12.88888888888889|
+----------+-----------------+
only showing top 5 rows

Junções (Joins):

In [ ]:
print(df1.columns)
print(df2.columns)

Index(['brand', 'model', 'transmission', 'age', 'fuel', 'engine', 'km',
       'owner', 'price', 'location', 'mileage', 'power', 'seats', 'type'],
      dtype='object')
Index(['id', 'title', 'type', 'genres', 'averageRating', 'numVotes',
       'releaseYear'],
      dtype='object')

In [ ]:
# Junção de dois DataFrames pandas
df1['key'] = df1.index
df2['key'] = df2.index

df_juncao = pd.merge(df1, df2, on='key', how='left')

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import monotonically_increasing_id

# Inicializa o SparkSession
spark = SparkSession.builder.appName("Example").getOrCreate()

# Lê os DataFrames
df1 = spark.read.csv("/root/.cache/kagglehub/datasets/satvshr/top-4-used-car-sales-datasets-combined/versions/2/output.csv", header=True, inferSchema=True)
df2 = spark.read.csv("/root/.cache/kagglehub/datasets/octopusteam/imdb-top-rated-titles-movies-and-tv-series/versions/13/data.csv", header=True, inferSchema=True)

# Adiciona uma coluna de chave a ambos os DataFrames
df1 = df1.withColumn("key", monotonically_increasing_id())
df2 = df2.withColumn("key", monotonically_increasing_id())

# Faz a junção usando a coluna de chave
df_juncao = df1.join(df2, on="key", how="left")

# Exibe o resultado
df_juncao.show()

+---+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+----------+--------------------+------------+--------------------+-------------+--------+-----------+
|key|   brand|   model|transmission| age|  fuel|engine|     km|owner|    price|location|mileage|power|seats|type|        id|               title|        type|              genres|averageRating|numVotes|releaseYear|
+---+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+----------+--------------------+------------+--------------------+-------------+--------+-----------+
|  0|mahindra|    thar|      manual| 4.0|diesel|2184.0|11003.0|  1.0|1231000.0|    NULL|   NULL| NULL| NULL|NULL| tt0903747|        Breaking Bad|    tvSeries|Crime, Drama, Thr...|          9.5| 2220756|       2008|
|  1| hyundai|   verna|      manual| 6.0|petrol|1591.0|66936.0|  1.0| 786000.0|    NULL|   NULL| NULL| NULL|NULL| tt5491994|     Planet Earth II|tvMiniSeries|         Documentary|          9.5|  161283|       2016|
|  2|    tata| harrier|      manual| 2.0|diesel|1956.0|27990.0|  1.0|1489000.0|    NULL|   NULL| NULL| NULL|NULL| tt0185906|    Band of Brothers|tvMiniSeries| Drama, History, War|          9.4|  542837|       2001|
|  3|   honda|    city|   automatic| 1.0|petrol|1498.0| 5061.0|  1.0|1227000.0|    NULL|   NULL| NULL| NULL|NULL| tt0795176|        Planet Earth|tvMiniSeries| Documentary, Family|          9.4|  222817|       2006|
|  4|    ford|ecosport|      manual| 3.0|diesel|1498.0|23480.0|  1.0| 887000.0|    NULL|   NULL| NULL| NULL|NULL| tt5152226|        Tree of Life|    tvSeries|               Drama|          9.4|   11445|       2014|
|  5|   honda|    wr-v|      manual| 3.0|petrol|1199.0|44787.0|  1.0| 796000.0|    NULL|   NULL| NULL| NULL|NULL| tt0111161|The Shawshank Red...|       movie|               Drama|          9.3| 2953131|       1994|
|  6|    tata|   punch|      manual| 2.0|petrol|1199.0|  450.0|  1.0| 813000.0|    NULL|   NULL| NULL| NULL|NULL| tt7366338|           Chernobyl|tvMiniSeries|Drama, History, T...|          9.3|  900125|       2019|
|  7|    tata|   nexon|   automatic| 4.0|diesel|  NULL|59866.0|  1.0| 728000.0|    NULL|   NULL| NULL| NULL|NULL| tt0306414|            The Wire|    tvSeries|Crime, Drama, Thr...|          9.3|  388536|       2002|
|  8|mahindra|  xuv700|   automatic| 2.0|diesel|2184.0|62567.0|  1.0|2322000.0|    NULL|   NULL| NULL| NULL|NULL| tt0417299|Avatar: The Last ...|    tvSeries|Action, Adventure...|          9.3|  386970|       2005|
|  9|    ford|ecosport|   automatic| 5.0|petrol|1497.0|58503.0|  1.0| 766000.0|    NULL|   NULL| NULL| NULL|NULL|tt30263074|   Sapne Vs Everyone|    tvSeries|               Drama|          9.3|   70674|       2023|
| 10|  maruti|   dzire|      manual| 6.0|petrol|1197.0|58159.0|  1.0| 471000.0|    NULL|   NULL| NULL| NULL|NULL| tt6769208|      Blue Planet II|tvMiniSeries|         Documentary|          9.3|   48120|       2017|
| 11| hyundai|   grand|      manual| 1.0|petrol|1197.0|15568.0|  1.0| 689000.0|    NULL|   NULL| NULL| NULL|NULL| tt0081846|              Cosmos|tvMiniSeries|         Documentary|          9.3|   45175|       1980|
| 12|    tata|   tiago|      manual| 1.0|petrol|1199.0| 6676.0|  1.0| 536000.0|    NULL|   NULL| NULL| NULL|NULL| tt7678620|               Bluey|    tvSeries|   Animation, Family|          9.3|   32304|       2018|
| 13| hyundai|   creta|      manual| 6.0|petrol|  NULL|59085.0|  1.0| 823000.0|    NULL|   NULL| NULL| NULL|NULL| tt9002164|         BB Ki Vines|    tvSeries|              Comedy|          9.3|   11245|       2015|
| 14|  maruti|    alto|      manual| 6.0|petrol| 998.0|52966.0|  1.0| 310000.0|    NULL|   NULL| NULL| NULL|NULL| tt0944947|     Game of Thrones|    tvSeries|Action, Adventure...|          9.2| 2355676|       2011|
| 15| hyundai|   verna|      manual| 4.0|diesel|1582.0|60592.0|  1.0| 993000.0|    NULL|   NULL| NULL| NULL|NULL| tt0068646|       The Godfather|       movie|        Crime, Drama|          9.2| 2058741|       1972|
| 16|  maruti|    alto|   automatic|10.0|petrol| 998.0|71297.0|  1.0| 265000.0|    NULL|   NULL| NULL| NULL|NULL| tt0141842|        The Sopranos|    tvSeries|        Crime, Drama|          9.2|  493994|       1999|
| 17|   honda|   amaze|      manual| 2.0|petrol|1199.0|15935.0|  1.0| 699000.0|    NULL|   NULL| NULL| NULL|NULL|tt14392248|           Aspirants|    tvSeries|               Drama|          9.2|  313454|       2021|
| 18|     kia|  seltos|      manual| 3.0|diesel|1493.0|71040.0|  1.0| 980000.0|    NULL|   NULL| NULL| NULL|NULL|tt12392504|Scam 1992: The Ha...|tvMiniSeries|Biography, Crime,...|          9.2|  160096|       2020|
| 19| hyundai|   grand|      manual| 1.0|petrol|1197.0| 2850.0|  1.0| 710000.0|    NULL|   NULL| NULL| NULL|NULL| tt2395695|Cosmos: A Spaceti...|tvMiniSeries|         Documentary|          9.2|  130567|       2014|
+---+--------+--------+------------+----+------+------+-------+-----+---------+--------+-------+-----+-----+----+----------+--------------------+------------+--------------------+-------------+--------+-----------+
only showing top 20 rows

Criação de Novas Colunas:

In [ ]:
# Cria uma nova coluna 'nova_coluna' como a soma de 'coluna1' e 'coluna2'
df_pandas['nova_coluna'] = df_pandas['coluna1'] + df_pandas['coluna2']

KeyError: 'coluna1'

In [ ]:
from pyspark.sql.functions import col

# Cria uma nova coluna 'nova_coluna' como a soma de 'coluna1' e 'coluna2'
df_pyspark = df_pyspark.withColumn("nova_coluna", col("coluna1") + col("coluna2"))

Ordenação de Dados:

In [ ]:
# Ordena o DataFrame pelo 'coluna1' em ordem descendente
df_pandas_ordenado = df_pandas.sort_values(by='coluna1', ascending=False)

In [ ]:
# Ordena o DataFrame pelo 'coluna1' em ordem descendente
df_pyspark_ordenado = df_pyspark.orderBy(df_pyspark.coluna1.desc())